header,
footer,
main {
  width: 100%;
}

header > div,
main > div,
footer > div {
  width: 1100px;
  margin: 0 auto;
  padding: 1.2rem 0;
}

header,
footer {
  background: var(--black);
}
main {
  background: url('https://www-growth.scdn.co/static/home/bursts-tablet.svg') no-repeat;
  background-size: contain;
}
li,
a {
  transition: color 0.2s;
  cursor: pointer;
}
li:hover,
a:hover {
  color: var(--green-400);
}
.header_container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_container img {
  width: 8rem;
}

.links {
  display: flex;
  color: var(--white);
  font-weight: 600;
  position: relative;
}

.links a + a {
  margin-left: 0.5rem;
}

.links div:nth-child(1)::after {
  content: "";
  width: 1px;
  height: 100%;
  background: var(--white);
  margin: 0 1rem;
  position: absolute;
}

.links > div:nth-child(2) {
  margin-left: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  height: calc(100vh - 9.7rem);
}

.container > h1 {
  font-size: 7rem;
  background-image: linear-gradient(#66d7d1, #81f495);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  filter: brightness(0) invert(1);
  animation: cycle 8s ease infinite;

  font-weight: 900;
  text-transform: uppercase;
}

.container > span {
  margin-top: 1rem;
  background-image: linear-gradient(#66d7d1, #81f495);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--green-400);
  animation: cycle 12s ease infinite;
}

.container > button {
  margin-top: 1.2rem;
  padding: 1.2rem 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1rem;
  background: var(--green-400);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: filter 0.2s;
}

.container > button:hover {
  filter: brightness(0.9);
}

@keyframes cycle {
  0%,
  100% {
    filter: brightness(0) invert(1);
  }
  35%,
  65% {
    filter: none;
  }
}
